version: '3'

networks:
  main:
    driver: bridge

volumes:
  disk:
    driver: local

services:

### WinterCMS service
  wintercms:
    build:
      context: ./docker/php/
      args:
        - PUID=${PUID}
        - PGID=${PGID}
    ports:
      - 9000:9000
    volumes:
      - disk:/app
    networks:
      - main

### Apache service
  apache:
    image: docker.io/bitnami/apache:2.4-debian-10
    ports:
      - ${APACHE_HTTP_PORT}:8080
      - ${APACHE_HTTPS_PORT}:8443
    volumes:
      - ./docker/apache/vhost.conf:/vhosts/custom-vhost.conf:ro
      - disk:/app
    depends_on:
      - wintercms
    networks:
      - main

### Maildev service
  maildev:
    image: djfarrelly/maildev
    ports:
      - ${MAILDEV_HTTP_PORT}:80
      - ${MAILDEV_SMTP_PORT}:25
    networks:
      - main
